.parallax {
	position: absolute;
	overflow: hidden;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
}

.parallax__layer {
	width: 3000px;
	width: 100vw;
	position: absolute;
	height: 100%;
	top: 0;
	left: 50%;
	margin-left: -1500px;
	margin-left: -55vw;

	@include tablet {
		width: 768px;
		width: 100vw;
	}

	@include mobile {
		width: 414px;
		width: 100vw;
	}
}

.parallax__img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 120%;
	height: 120%;
}

@for $i from 1 through 10 {
    .parallax__img-#{$i} {
		background-image: url(../img/bg-#{$i}.png);
		@include tablet {
			background-image: url(../img/bg-tablet.jpg);
		}
		@include mobile {
			background-image: url(../img/bg-mobile.jpg);
		}
    }
}