.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20000;
}

.preloader__img {
    @include center;
    min-width: 100%;
    min-height: 100%;
}

.preloader__svg {
    @include center;
}

.preloader__text {
    text-align: center;
}

.preloader__circle-1,
.preloader__circle-2,
.preloader__circle-3 {
    animation: opacity 2.5s ease-in-out infinite;
    transform: translate3d(0, 0, 0);
}

.preloader__circle-3 {
    animation-delay: .4s;
}

.preloader__circle-2 {
    animation-delay: .8s;
}

.preloader__circle-1 {
    animation-delay: 1.2s;
}

@keyframes opacity {
    0% {
        stroke-width: 0;
    }

    10% {
        stroke-width: 0;
    }

    50% {
        stroke-width: 4;
    }

    90% {
        stroke-width: 0;
    }

    100% {
        stroke-width: 0;
    }

}