/* --------- preloader --------- */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: #20b5a1; }

.preloader__spinner {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.preloader__animation {
  width: 150px;
  height: 150px;
  position: relative;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }
  .preloader__animation, .preloader__animation:before, .preloader__animation:after {
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #fff; }
  .preloader__animation:before, .preloader__animation:after {
    content: "";
    position: absolute; }
  .preloader__animation:before {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite; }
  .preloader__animation:after {
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.preloader__percents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff; }