/* Flipping mechanics */
.welcome {
	perspective: 1000px;
	position: relative;
}

.welcome.hover .welcome__flipper {
	transform: rotateY(180deg);
}

.welcome__flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
		position: absolute;
	top: 0;
	left: 0;
}

.welcome__front,
.welcome__back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.welcome__front {
	z-index: 2;
	transform: rotateY(0deg);
}

.welcome__back {
	transform: rotateY(180deg);
}
