.wrapper--active {
	padding-left: 30%;
}

.header--blog {
	height: auto;
	min-height: 400px;

	.header__top,
	.introduction {
		margin-bottom: auto;
	}

	@include tablet {
		height: 100vh;
		min-height: 650px;
		max-height: 505px;
		width: 100%;
	}

}

.introduction__h1 {
	@include font(63px, 56px, $mainColorLight, normal);
	margin: 30px 0 10px;
}

.container--blog {
	padding: 0 0 50px;
	display: flex;
	position: relative;
}

.blog-nav {
	padding-top: 50px;
	flex: 1;
	display: flex;

	@include tablet {
		position: fixed;
		left: -30%;
		top: 0;
		width: 30%;
		height: 100%;
		background-color: $accentColor;
		z-index: 100;

		.blog-nav__trigger {
			display: block;
			@include centerY;
			right: -20px;
			width: 40px;
			height: 40px;
			background-color: $accentColor;
			border-radius: 50%;

			&:before {
				content: '\e900';
				font-family: 'CCU-Icons-Font' !important;
				@include font(14px, 14px, $mainColorLight, normal);
				position: absolute;
				top: 14px;
				left: 21px;
				transform: rotate(270deg);
			}

		}

	}

}

.blog-nav__trigger {
	display: none;
}

.blog-nav--active {
	@include tablet {
		left: 0;
	}

	.blog-nav__trigger {
		display: none;
	}

}

.blog-content {
	flex: 2;
}

.blog-nav__list {
	text-align: right;
	list-style: none;
	padding: 0;
	width: 80%;
	margin-right: auto;
	position: relative;
}

.blog-nav__list--fixed {
	position: fixed;
	top: 50px;

	@include tablet {
		width: 100% !important;
		position: relative;
		padding: 0 10%;
	}

}

.blog-nav__item {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

}

.blog-nav__link {
	@include link(none, 22px, 26px, normal, $mainColor, $accentColor, $accentColorActive);
	font-family: $font;
	display: block;
	padding: 8px 0;

	@include tablet {
		@include link(none, 16px, 20px, normal, darken($mainColorLight, 10%), $mainColorLight, $mainColorLight);
		padding: 0;
	}

}

.blog-nav__link--active {
	@include link(none, 22px, 26px, normal, $accentColor, $accentColor, $accentColor);
	font-family: $fontBold;
	position: relative;
	padding: 8px 0;

	&:after {
		content: "";
		position: absolute;
		right: -20px;
		top: 0;
		height: 100%;
		width: 3px;
		background-color: $accentColor;
	}

	@include tablet {
		@include link(none, 16px, 20px, normal, $mainColorLight, $mainColorLight, $mainColorLight);
		padding: 0;

		&:after {
			content: none;
		}

	}

}

.blog-article__h2 {
	@include font(35px, 41px, false, normal);
	display: block;
	margin-bottom: 25px;

	&:before,
	&:after {
		content: none;
	}

}

.blog-article__date {
	@include font(16px, 16px, rgba($accentColor, .7), normal);
	display: block;
	margin-bottom: 25px;
}

.blog-article {
	padding: 50px 0;
	border-bottom: 5px solid darken($mainColorLight, 5%);

	&:last-of-type {
		border-bottom: none;
		padding-bottom: 0;
	}

}