.works__heading {
	background-color: $worksBgColor;
	text-align: center;
	position: relative;
	z-index: 10;
	overflow: hidden;

	&:before {
		content: "";
		@include centerX;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: .07;
		z-index: -10;
		background: url("../img/svg/works_header.svg") center no-repeat;
		background-size: contain;

		@include mobile {
			background-size: 90%;
		}

	}

}

.works__h1 {
	@include font(63px, 56px, false, normal);
	margin: 60px auto 70px;

	@include tablet {
		@include font(49px, 52px, false, normal);
		margin: 40px auto 50px;
	}

}

.arrow-up {
	display: block;
	color: $mainIconColorLight;
	text-decoration: none;
	font-size: 17px;
	margin: 0 auto 70px;
	z-index: 10;

	&:hover {
		color: $mainIconColorLightHover;
	}

	&:active {
		color: $mainIconColorLightActive;
	}

}