.socials
	ul.socials__list
		each href, social in {'vk':'https://vk.com/kryshtopa', 'github':'https://github.com/kryshtopa', 'in':'https://www.linkedin.com/in/kryshtopa'}
			li.socials__item
				a(class=`socials__link icon-${social}` href=`${href}` target="_blank")