ul.testimonials__list
	li.testimonials__item
		p.testimonials__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.testimonials__meta
			.testimonials__img
				img(src="assets/img/testimonials-kov.jpg" alt="")
			.testimonials__about
				h4.testimonials__name Ковальчук Дмитрий
				h5.testimonials__position основатель LoftSchool
	li.testimonials__item
		p.testimonials__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.testimonials__meta
			.testimonials__img
				img(src="assets/img/testimonials-zar.jpg" alt="")
			.testimonials__about
				h4.testimonials__name Зар Захаров
				h5.testimonials__position Преподаватель
	li.testimonials__item
		p.testimonials__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.testimonials__meta
			.testimonials__img
				img(src="assets/img/testimonials-zar.jpg" alt="")
			.testimonials__about
				h4.testimonials__name Зар Захаров
				h5.testimonials__position Преподаватель
	li.testimonials__item
		p.testimonials__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
		.testimonials__meta
			.testimonials__img
				img(src="assets/img/testimonials-zar.jpg" alt="")
			.testimonials__about
				h4.testimonials__name Зар Захаров
				h5.testimonials__position Преподаватель