.slider
    .slider-description
        ul.slider-description__list
            li.slider-description__item
                .slider-description__wrapper
                    h2.works__title Website title 1
                    ul.works__skills
                        li.works__skills-item HTML
                        li.works__skills-item JS
                        li.works__skills-item jQuery
                    a.works__link(href="#" target="_blank") Посмотреть сайт
            li.slider-description__item
                .slider-description__wrapper
                    h2.works__title Website title 2
                    ul.works__skills
                        li.works__skills-item HTML
                        li.works__skills-item JS
                        li.works__skills-item jQuery
                    a.works__link(href="#" target="_blank") Посмотреть сайт
            li.slider-description__item
                .slider-description__wrapper
                    h2.works__title Website title 3
                    ul.works__skills
                        li.works__skills-item HTML
                        li.works__skills-item JS
                        li.works__skills-item jQuery
                    a.works__link(href="#" target="_blank") Посмотреть сайт
            li.slider-description__item
                .slider-description__wrapper
                    h2.works__title Website title 4
                    ul.works__skills
                        li.works__skills-item HTML
                        li.works__skills-item JS
                        li.works__skills-item jQuery
                    a.works__link(href="#" target="_blank") Посмотреть сайт
    .slider-content
        ul.slider-content__list
            li.slider-content__item
                img(src="assets/img/work-1.png")
            li.slider-content__item
                img(src="assets/img/work-2.png")
            li.slider-content__item
                img(src="assets/img/work-3.png")
            li.slider-content__item
                img(src="assets/img/work-4.png")
    .controls
        a.controls__prev(href="#")
        a.controls__next(href="#")