html,
body {
  width: 100%; 
  height: 100%;  
  padding: 0;  
  margin: 0;
}

// Sticky footer

.wrapper {
  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.footer {
  height: $footer-height;
  margin-top: $footer-height;
}