@mixin clearfix {
  & {
    *zoom: 1;
  }

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin centerX {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin centerY {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}

@mixin font($size: false,  $lh: false, $colour: false, $weight: false) {
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
  @if $colour { color: $colour; }
  @if $weight { font-weight: $weight; }
}

@mixin link($text-decoration: false, $font-size: false, $line-height: false, $font-weight: false, $color: false, $color-hover: false, $color-active: false) {
  @if $text-decoration {text-decoration: $text-decoration;}
  @if $font-size {@include font($font-size, '', '', '');}
  @if $line-height {@include font('', $line-height, '', '');}
  @if $font-weight {@include font('', '', '', $font-weight);}
  @if $color {@include font('', '', $color, '');}
  @if $color-hover {&:hover {color: $color-hover;}}
  @if $color-active {&:active {color: $color-active;}}
}

// Media queries mixins
@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}
@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) and (max-width: #{$hd-width - 1px}) {
    @content;
  }
}
@mixin hd {
  @media (min-width: #{$hd-width}) {
    @content;
  }
}